<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
       <body>
    <h1 th:text="${anuncio.nombre}">Nombre del Anuncio</h1>
    <h2 th:text="${anuncio.asunto}">Asunto</h2>
    <p th:text="${anuncio.descripcion}">Descripción</p>

    <a href="/Home">Volver a la Lista</a>
</body>
    </body>
</html>
